#game{
    display: flex;
}
#details{
    border-style: ridge;
    height: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
#board{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: space-evenly;
}
.row{
    margin: auto;
    width: 600px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
}
.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 65px;
    height: 65px;
    border-style: ridge;
}